nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}
